.places__image {
    display: block;
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 680px) {
  .place__image {
    margin-bottom: 10%;
    grid-column: 1;
    grid-row: auto;
  }
}